@import '../../styles/index.scss';

.classic--button {
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;

    &:focus {
        outline: none;
    }

    &-light {
        @include borders;
        @include buttons;
        &__visible {
            border-color: #7b7b7b;
            border-width: 1px;
        }

        &__red {
            background: red;
        }
        &.value-1 {
            color: blue;
        }
        &.value-2 {
            color: green;
        }
        &.value-3 {
            color: red;
        }
        &.value-4 {
            color: purple;
        }
        &.value-5 {
            color: maroon;
        }
        &.value-6 {
            color: turquoise;
        }
        &.value-7 {
            color: black;
        }
        &.value-8 {
            color: gray;
        }
    }
    &-dark {
        @include borders;
        @include buttons;

        &__visible {
            border-color: #cacaca;
            border-width: 1px;
        }

        &__red {
            background: tomato;
        }
        &.value-1 {
            color: cadetblue;
        }
        &.value-2 {
            color: plum;
        }
        &.value-3 {
            color: palegreen;
        }
        &.value-4 {
            color: paleturquoise;
        }
        &.value-5 {
            color: palevioletred;
        }
        &.value-6 {
            color: papayawhip;
        }
        &.value-7 {
            color: peachpuff;
        }
        &.value-8 {
            color: powderblue;
        }
    }

    span {
        font-size: 12px;
        margin-left: 2px;
    }
}
.skeuomorph--button {
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;

    &:focus {
        outline: none;
    }

    &-light {
        background: linear-gradient(
            180deg,
            #efeff3 0%,
            #f2f5f7 0.01%,
            #dce7f2 100%
        );
        box-shadow: 0px 1.68px 1.68px #96bbe1,
            0px 3.36px 4.2px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin: 1px;

        &__visible {
            background: #e3edf7;
            box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
                inset -3px -3px 7px #ffffff;
            border-radius: 21px;
        }
        &__red {
            background: #ef0000;
            box-shadow: inset 3px 3px 7px rgba(140, 45, 45, 0.48),
                inset -3px -3px 7px #ff9d9d;
            border-radius: 21px;
        }
    }
    &-dark {
        color: #9f9f9f;
        background: linear-gradient(
            180deg,
            #404040 0%,
            #555 0.01%,
            #333 100%
        );
        box-shadow: 0px 1.68317px 1.68317px #666,
            0px 3.36634px 4.20792px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin: 1px;

        &__visible {
            background: linear-gradient(
                348.69deg,
                #333 5.21%,
                #222 86.46%
            );
            box-shadow: 0px 1.68317px 1.68317px #666,
                0px 3.36634px 4.20792px #000,
                inset 0px 1px 0px #404040;
        }
        &__red {
            background: linear-gradient(
                348.69deg,
                #de5959 5.21%,
                #650000 86.46%
            );
            box-shadow: 0px 1.68317px 1.68317px #ff1010,
                0px 3.36634px 4.20792px rgba(255, 146, 146, 0.1),
                inset 0px 1px 0px #940f19;
        }
    }
}
