@import '../../styles/index.scss';

.game {
    z-index: 999999;
}

.result {
    min-height: 2rem;
    max-height: 2.05rem;
    margin-bottom: 0.25rem;
    h1 {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 600;
    }
}

.classic {
    padding: 16px;
    button:disabled {
        color: black;
    }

    &-light {
        @include borders(white, #999);
        background: #c2c2c2;
    }
    &-dark {
        @include borders(#666, #404040);
        background: #333;
    }

    &--header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 12px;
        &-light {
            @include borders(#7b7b7b, white);
            background: #c0c0c0;
        }
        &-dark {
            @include borders(rgb(43, 43, 43), #414141);
            background: #222222;
        }
    }

    &--body {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        margin-top: 16px;
        &-light {
            @include borders(#7b7b7b, white);
        }
        &-dark {
            @include borders(#000, #666);
        }
    }

    &--face {
        @include borders;
        @include buttons;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 35px;
        height: 52px;
        justify-content: center;
        width: 52px;
    }
}

.skeuomorph {
    padding: 16px;
    border-radius: 16px;
    button:disabled {
        color: black;
    }

    &-light {
        background: #dce8f4;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15),
            inset 0px -2px 2px #ffffff, inset 0px -1px 0px #81a3c3;
    }
    &-dark {
        background: #333;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15),
            inset 0px -2px 2px #a0a0a0, inset 0px -1px 0px #707070;
    }

    &--header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 12px;
        border-radius: 8px;
        &-light {
            background: linear-gradient(
                180deg,
                #e7eef4 0%,
                #b7d1eb 100%
            );
            box-shadow: 0px 5.0495px 8.41584px #dae7f4,
                0px 0.841584px 1.68317px rgba(255, 255, 255, 0.8),
                0px -3.36634px 8.41584px rgba(255, 255, 255, 0.7),
                inset 0px 0.841584px 1.68317px #6d8ead;
        }
        &-dark {
            background: linear-gradient(
                166.67deg,
                #383737 -5.41%,
                #1c1b1b 100%
            );
            box-shadow: 0px 5px 8.3px #444,
                0px 0.84px 1.68px rgba(40, 40, 40, 0.8),
                0px -3.36px 8.41584px rgba(40, 40, 40, 0.7),
                inset 0px 0.84px 1.6px #000000;
        }
    }

    &--body {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        margin-top: 16px;
        padding: 4px;
        &-light {
            background: linear-gradient(
                180deg,
                #e7eef4 0%,
                #b7d1eb 100%
            );
            box-shadow: 0px 5.0495px 8.41584px #dae7f4,
                0px 0.841584px 1.68317px rgba(255, 255, 255, 0.8),
                0px -3.36634px 8.41584px rgba(255, 255, 255, 0.7),
                inset 0px 0.841584px 1.68317px #6d8ead;
        }
        &-dark {
            background: linear-gradient(
                135.95deg,
                #333 -22.77%,
                #1c1b1b 91.18%
            );
            box-shadow: 0px 5.0495px 8.41584px #444,
                0px 0.841584px 1.68317px rgba(40, 40, 40, 0.8),
                0px -3.36634px 8.41584px rgba(40, 40, 40, 0.7),
                inset 0px 0.841584px 1.68317px #000000;
        }

        border-radius: 8px;
    }

    &--face {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 35px;
        height: 52px;
        justify-content: center;
        width: 52px;
        &:focus {
            outline: none;
        }

        &-light {
            background: linear-gradient(
                180deg,
                #efeff3 0%,
                #f2f5f7 0.01%,
                #dce7f2 100%
            );
            box-shadow: 0px 1.68317px 1.68317px #96bbe1,
                0px 3.36634px 4.20792px rgba(0, 0, 0, 0.1);
            transition: box-shadow 150ms ease-in-out;
            &:active {
                background: linear-gradient(
                    360deg,
                    #efeff3 0.61%,
                    #f2f5f7 0.62%,
                    #d0ddea 99.39%
                );
                box-shadow: 0px 1.68317px 1.68317px #96bbe1,
                    0px 3.36634px 4.20792px rgba(0, 0, 0, 0.1),
                    inset 0px 1px 0px #fefeff;
            }
        }
        &-dark {
            background: linear-gradient(
                180deg,
                #000000 0%,
                #3d3d3d 0.01%,
                #1d1e20 100%
            );
            box-shadow: 0px 1.68317px 1.68317px #333,
                0px 3.36634px 4.20792px #000000;
            &:active {
                background: linear-gradient(
                    360deg,
                    #666666 0.61%,
                    #3d4043 0.62%,
                    #222222 99.39%
                );
                box-shadow: 0px 1.68317px 1.68317px #000000,
                    0px 3.36634px 4.20792px rgba(0, 0, 0, 0.1),
                    inset 0px 1px 0px #363636;
            }
        }

        border-radius: 8px;
    }
}
