.numberDisplay {
    width: 80px;
    height: 48px;
    text-align: center;
}

.classic--numberDisplay {
    font-size: 40px;
    &-light {
        color: #ff0701;
        background: black;
    }
    &-dark {
        color: #ff0701;
        background: black;
    }
}
.skeuomorph--numberDisplay {
    font-size: 40px;
    &-light {
        background: linear-gradient(
            180deg,
            #efeff3 0%,
            #f2f5f7 0.01%,
            #dce7f2 100%
        );
        box-shadow: 0px 1.68317px 1.68317px #96bbe1,
            0px 3.36634px 4.20792px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        color: #81a3c4;
    }
}
