.numberDisplay {
    width: 80px;
    height: 48px;
    text-align: center;
}

.classic--numberDisplay {
    font-size: 40px;
    &-light {
        color: #ff0701;
        background: black;
    }
    &-dark {
        color: #ff0701;
        background: black;
    }
}
.skeuomorph--numberDisplay {
    font-size: 40px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-light {
        background: linear-gradient(
            180deg,
            #efeff3 -0.62%,
            #f2f5f7 51.78%,
            #dce7f2 100%
        );
        // border: 1px solid #81a3c4;
        box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
            inset -3px -3px 7px #ffffff;

        &__numbers {
            position: relative;
            padding-top: 4px;
            font-family: Electronica-Normal, monospace;
            font-style: normal;
            font-weight: normal;
            text-align: right;
            overflow: hidden;
            color: #31456a;
        }
    }

    &-dark {
        background: #333333;
        box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.48),
            inset -3px -3px 7px #444444;
        &__numbers {
            position: relative;
            padding-top: 4px;
            font-family: 'Share Tech Mono', monospace;
            font-style: normal;
            font-weight: normal;
            text-align: right;
            overflow: hidden;
            color: #999;
        }
    }
}
