:root {
    --color-darkmode: #f5f8f8;
    --color-primary: #00aef2;
}

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background: none;
    border: none;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
    -webkit-appearance: button;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sun-moon {
    position: relative;
    z-index: 0;
    margin: 16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f5f8f8;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.sun-moon:before {
    content: '';
    z-index: 1000;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background: #a5abb0;
    transition: border-radius 0.5s ease, background-color 0.5s ease,
        width 0.5s ease, transform 0.5s ease;
}

.sun-moon:after {
    content: 'Light mode';
    white-space: nowrap;
    text-indent: 60px;
    line-height: 45px;
    z-index: 2000;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #f5f8f8;
    box-shadow: 0 0 0 0 #f5f8f8, 0 0 0 3px #a5abb0, 0 0 0 16px #f5f8f8;
    box-sizing: border-box;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.night.sun-moon {
    background-color: #a5abb0;
}

.night.sun-moon:before {
    background: #3f3f4c;
    border-radius: 50%;
    width: 150%;
    transform: translate(-5%, -35%) rotate(-25deg);
}

.night.sun-moon:after {
    content: 'Dark mode';
    color: #fff;
    box-shadow: 0 0 0 0 #3f3f4c, 0 0 0 0 #3f3f4c, 0 0 0 3px #a5abb0,
        0 0 0 16px #3f3f4c;
    border-color: #3f3f4c;
}

.background-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
