@import '../../styles/index.scss';

.nav {
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.options {
    display: inline-flex;
    align-items: center;

    & button {
        color: white;
        border: none;
        margin: 0;
        margin-right: 16px;
        padding: 20px 24px;
        height: 100%;
    }
}

#toggle {
    width: 50px;
    display: flex;
    padding: 5px;
    background-color: #1a202c;
    display: block;
    border-radius: 1000px;
    cursor: pointer;
    box-shadow: 0px 5px 20px -10px #000000;
    transition: background-color 0.2s ease-in;

    .toggle-inner {
        width: 20px;
        height: 15px;
        background-color: white;
        border-radius: 1000px;
        transition: margin-left 0.2s ease-in,
            background-color 0.2s ease-in;

        &.toggle-active {
            margin-left: 20px;
        }
    }
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        padding: 0;
        margin: 0 0 10px 0;
    }

    p {
        opacity: 0.8;
    }
}

.nav-skeuomorph {
    &-light {
        background: #0e8cfe;
        box-shadow: 8px 40px 96px rgba(18, 61, 101, 0.14),
            inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    }
    &-dark {
        background: linear-gradient(
            200.6deg,
            #353a40 -3.02%,
            #121416 93.08%
        );
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
            0px 1px 18px rgba(0, 0, 0, 0.12),
            0px 6px 10px rgba(0, 0, 0, 0.14);

        #toggle {
            background-color: white;

            .toggle-inner {
                background-color: #1a202c;
            }
        }
    }
}

.nav-classic {
    &-light {
        @include borders(white, #999);
        background: #c2c2c2;
    }

    &-dark {
        @include borders(#5c5c5c, rgb(147, 147, 147));
        background: #333;

        #toggle {
            background-color: white;

            .toggle-inner {
                background-color: #1a202c;
            }
        }
    }
}
